.mainDiv {
  background-color: #13334c;
  min-height: 100vh;
}

.authCont {
  border-radius: 18px;
  padding: 2em;
  width: 30% !important;
  box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png ");
  background-color: white;
}

.lsTog {
  background-color: #13334c !important;
}

.lsTog:disabled {
  background-color: #13334c !important;
}

.bGroup {
  margin: 1em;
  width: 80%;
}
