.authCont {
  border: 2px solid #13334c;
  border-radius: 18px;
  padding: 2em;
  height: 60vh !important;
  width: 30% !important;
  box-shadow: 5px 5px 5px 5px rgb(207, 207, 207);
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png ");
}

.lsTog {
  background-color: #13334c !important;
}

.lsTog:disabled {
  background-color: #13334c !important;
}

.bGroup {
  margin: 1em;
  width: 80%;
}
