body {
    background-color: #13334c;
    min-height: 100vh;
}

#data {
    align-content: center !important; 
    background-color: #13334c;
    min-height: 100vh;
}

#name {
    margin-top: 20px;
    text-align: left !important;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 18px;
    padding: 2em;
    width: 25% !important;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png ");
    background-color: white;
}

#headline {
    margin-top: 20px;
    text-align: left; 
    font-family: 'Times New Roman', Times, serif;
    border-radius: 18px;
    padding: 2em;
    width: 70% !important;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png ");
    background-color: white;
}

#aboutMe {
    margin-top: 20px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 18px;
    padding: 2em;
    width: 70% !important;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png ");
    background-color: white;
}

#editButtons {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}
